@charset "UTF-8";
/* Common start */
/* line 30, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 33, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
body {
  width: 100%;
  min-width: 39.3rem;
  margin: 0 auto;
  font-family: "NT Somic", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  color: #0A0A0A;
  background-color: #FAFAFA;
}

/* line 44, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "NT Somic", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #0A0A0A;
}

/* line 49, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h1, .h1 {
  font-size: 6rem;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  /* line 49, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  h1, .h1 {
    font-size: 4rem;
    line-height: 110%;
  }
}

/* line 57, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h2, .h2 {
  font-size: 4rem;
  line-height: 110%;
}

@media screen and (max-width: 1024px) {
  /* line 57, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  h2, .h2 {
    font-size: 2.8rem;
    line-height: 130%;
  }
}

/* line 65, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h3, .h3 {
  font-size: 2.8rem;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  /* line 65, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  h3, .h3 {
    font-size: 1.6rem;
  }
}

/* line 72, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h4, .h4 {
  font-size: 1.6rem;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  /* line 72, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  h4, .h4 {
    font-size: 1.4rem;
  }
}

/* line 79, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h5, .h5 {
  font-size: 1.4rem;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  /* line 79, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  h5, .h5 {
    font-size: 1.2rem;
    line-height: 110%;
  }
}

/* line 87, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
h6, .h6 {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  /* line 87, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  h6, .h6 {
    font-size: 1rem;
  }
}

/* line 93, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.desktop--block {
  display: block;
}

@media screen and (max-width: 840px) {
  /* line 93, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .desktop--block {
    display: none;
  }
}

/* line 99, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.mobile--block {
  display: none;
}

@media screen and (max-width: 840px) {
  /* line 99, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .mobile--block {
    display: block;
  }
}

/* line 105, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.desktop--grid {
  display: grid;
}

@media screen and (max-width: 840px) {
  /* line 105, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .desktop--grid {
    display: none;
  }
}

/* line 111, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.mobile--grid {
  display: none;
}

@media screen and (max-width: 840px) {
  /* line 111, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .mobile--grid {
    display: grid;
  }
}

/* line 117, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.desktop--flex {
  display: flex;
}

@media screen and (max-width: 840px) {
  /* line 117, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .desktop--flex {
    display: none;
  }
}

/* line 123, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.mobile--flex {
  display: none;
}

@media screen and (max-width: 840px) {
  /* line 123, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .mobile--flex {
    display: flex;
  }
}

/* line 129, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.button {
  padding: 1rem 1.8rem;
  display: inline-block;
  width: fit-content;
  border-radius: 0.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  cursor: pointer;
}

/* line 139, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.button--pink {
  color: #FAFAFA;
  background-color: #FF197A;
  transition: 0.2s linear;
}

/* line 144, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.button--pink:hover {
  background-color: #0A0A0A;
}

/* line 147, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.button--black {
  color: #FAFAFA;
  background-color: #0A0A0A;
  transition: 0.2s linear;
}

/* line 152, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.button--black:hover {
  background-color: #FF197A;
}

/* line 155, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header,
.main,
.footer {
  width: 100%;
}

/* line 160, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.section {
  padding: 0 1.5rem;
}

/* line 163, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.section_heading {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}

/* line 170, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.wrapper--global {
  max-width: 138rem;
  margin: 0 auto;
}

/* line 174, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--search-white {
  background-image: url(../images/icons/search-white.svg);
  background-size: cover;
}

/* line 178, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--heart-white {
  background-image: url(../images/icons/heart-white.svg);
  background-size: cover;
}

/* line 182, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--cart-white {
  background-image: url(../images/icons/cart-white.svg);
  background-size: cover;
}

/* line 186, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--nav-white {
  background-image: url(../images/icons/nav-white.svg);
  background-size: cover;
}

/* line 190, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--add-to-cart-pink {
  background-image: url("../images/icons/cart-pink.svg");
}

/* line 193, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--address {
  background-image: url("../images/contacts-geo.svg");
}

/* line 196, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--metro {
  background-image: url("../images/contacts-metro.svg");
}

/* line 199, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--phone {
  background-image: url("../images/contacts-phone.svg");
}

/* line 202, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--email {
  background-image: url("../images/contacts-email.svg");
}

/* line 205, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--days {
  background-image: url("../images/contacts-calendar.svg");
}

/* line 208, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.icon--hours {
  background-image: url("../images/contacts-clock.svg");
}

/* line 211, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link--grey {
  color: #F5F5F5;
  transition: 0.2s linear;
}

/* line 215, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link--grey:hover {
  color: #FF197A;
}

/* line 218, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.column__left {
  justify-content: left;
}

/* line 221, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.column__center {
  justify-content: center;
}

/* line 224, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.column__right {
  justify-content: right;
}

/* line 227, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--account {
  background-image: url("../images/icons/tzm-icon.svg");
  transition: 0.2s linear;
}

/* line 231, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--account:hover {
  background-image: url("../images/icons/tzm-icon-pink.svg");
}

/* line 234, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--search {
  background-image: url("../images/icons/search.svg");
  transition: 0.2s linear;
}

/* line 238, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--search:hover {
  background-image: url("../images/icons/search-pink.svg");
}

/* line 241, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--favourites {
  background-image: url("../images/icons/heart.svg");
  transition: 0.2s linear;
}

/* line 245, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--favourites:hover {
  background-image: url("../images/icons/heart-pink.svg");
}

/* line 248, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--cart {
  background-image: url("../images/icons/cart.svg");
  transition: 0.2s linear;
}

/* line 252, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.link_icon--cart:hover {
  background-image: url("../images/icons/cart-pink.svg");
}

/* line 255, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.flex_columns {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

/* line 262, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.flex_columns__item {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: 130%;
}

/* line 268, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.flex_columns__item__dots {
  min-width: 1rem;
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1rem;
  margin: 0.4em;
}

@media screen and (max-width: 840px) {
  /* line 275, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .flex_columns__item__value {
    width: 50%;
  }
}

/* line 279, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.circle_bg--black {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #202020;
  color: #FAFAFA;
  border-radius: 9rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

/* Common end */
/* Carousel start */
/* line 292, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrows {
  position: absolute;
  top: 0;
  padding: 0 4rem 0 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 840px) {
  /* line 292, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .arrows {
    display: none;
  }
}

/* line 305, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrows--left {
  display: none;
  width: 4rem;
  height: 4rem;
  background-image: url("../images/icons/arrow-slider-left-black.svg");
  cursor: pointer;
  opacity: 0.5;
  z-index: 10;
  transition: 0.2s linear;
}

/* line 315, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrows--left:hover {
  opacity: 1;
}

/* line 318, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrows--right {
  display: none;
  width: 4rem;
  height: 4rem;
  background-image: url("../images/icons/arrow-slider-right-black.svg");
  cursor: pointer;
  opacity: 0.5;
  z-index: 10;
  transition: 0.2s linear;
}

/* line 328, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrows--right:hover {
  opacity: 1;
}

/* line 331, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.dots {
  bottom: 2rem !important;
  top: auto !important;
  left: 0 !important;
  width: 100% !important;
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* line 342, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.dots__item {
  display: inline-block;
  margin: 0 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.4rem;
  background-color: #DBDBDB;
  cursor: pointer;
}

/* line 351, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.dots__item.tns-nav-active,
.dots__item.is-active {
  background-color: #FF197A;
}

/* Carousel end */
/* Breadcrumbs start */
/* line 357, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.breadcrumbs {
  padding: 2rem 1.5rem;
}

@media screen and (max-width: 1024px) {
  /* line 357, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .breadcrumbs {
    padding: 1rem 1.5rem;
  }
}

/* line 363, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.breadcrumbs__menu {
  display: flex;
  gap: 0.5rem;
}

/* line 367, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.breadcrumbs__menu__item {
  color: #B6B6B6;
  list-style-type: disc;
  margin-left: 2rem;
  font-size: 1.2rem;
  line-height: 130%;
}

/* line 374, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.breadcrumbs__menu__item--active {
  color: #8123FF;
}

/* Breadcrumbs end */
/* Header start */
/* line 382, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__top__container {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

/* line 387, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__top__container__menu,
.header__top__container__getintouch {
  display: flex;
  gap: 4rem;
  padding: 0.8rem 0;
}

/* line 393, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__top__container__menu__item,
.header__top__container__getintouch__item {
  font-size: 1.4rem;
  line-height: 130%;
  text-wrap: nowrap;
}

/* line 399, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__top__menu__item__link,
.header__top__getintouch__item__link {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 404, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.getintouch__city {
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: 0.2s linear;
}

/* line 409, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.getintouch__city:link, .getintouch__city:hover {
  text-decoration: none;
}

/* line 412, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.getintouch__account {
  padding-left: 2.4rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
}

/* line 418, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__top {
  background-color: #202020;
  color: #F5F5F5;
}

/* line 422, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom {
  background-color: #0A0A0A;
}

/* line 425, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.8rem 0;
}

/* line 430, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom__container__column {
  display: flex;
  align-items: center;
}

/* line 434, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom__container__column__button {
  padding: 1rem 1.8rem 1rem 3.9rem;
  background-image: url("../images/icons/nav-white.svg");
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
}

/* line 441, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom__container__column__logo__image {
  width: 9.2rem;
  height: 4.6rem;
}

/* line 445, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom__container__column__services {
  display: flex;
  gap: 4rem;
}

/* line 449, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.header__bottom__container__column__services__item__link {
  padding-left: 2.8rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
}

@media screen and (max-width: 840px) {
  /* line 457, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .header__mobile {
    padding: 1.2rem 1.5rem;
    grid-template-columns: 4.4rem 4.4rem auto 4.4rem 4.4rem;
    justify-items: center;
    align-items: center;
    gap: 0.4rem;
    background-color: #0A0A0A;
  }
  /* line 466, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .header__mobile .header__mobile__item {
    padding: 1.2rem;
  }
  /* line 469, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .header__mobile .header__mobile__item__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
  /* line 475, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .header__mobile .header__mobile__item--logo {
    justify-self: center;
    align-self: center;
  }
  /* line 479, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .header__mobile .header__mobile__item__logo {
    display: block;
  }
  /* line 482, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .header__mobile .header__mobile__item__logo__image {
    width: 10rem;
    height: 5rem;
  }
}

/* Header end */
/* Main -- Banner start */
/* line 488, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner {
  position: relative;
  height: 45rem;
  width: 100%;
}

/* line 493, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: content-box;
}

/* line 501, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container__item {
  position: relative;
  display: block;
  height: 45rem;
  width: 100%;
}

/* line 507, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container__item__image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* line 515, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__arrows {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 138rem;
  height: 45rem;
}

/* line 526, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__arrows__button {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 2rem;
  height: 2rem;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 539, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrow--left {
  background-image: url("../images/icons/arrow-left.svg");
  left: var(--swiper-navigation-sides-offset, 1rem);
  right: auto;
}

/* line 544, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.arrow--right {
  background-image: url("../images/icons/arrow-right.svg");
  right: var(--swiper-navigation-sides-offset, 1rem);
  left: auto;
}

/* line 549, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container__item__content {
  padding: 0 1.5rem;
  width: 100%;
  text-align: center;
}

/* line 554, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container__item__content__heading {
  margin-top: 6rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.8rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 840px) {
  /* line 554, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .banner__container__item__content__heading {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

/* line 565, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container__item__content__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 840px) {
  /* line 565, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .banner__container__item__content__text {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: 2rem;
  }
}

/* line 576, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.banner__container__item__content__button {
  display: inline-block;
}

/* Main -- Banner end */
/* Main -- Categories start */
/* line 581, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories {
  padding: 6rem 0;
}

@media screen and (max-width: 840px) {
  /* line 581, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories {
    padding: 2rem 0;
  }
}

/* line 587, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories__tiles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 840px) {
  /* line 587, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* line 596, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories__tiles__item {
  padding: 1.6rem;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

/* line 601, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories__tiles__item:hover {
  background-image: url("../images/main-tiles/tile-bg-hover.svg");
  background-size: cover;
  color: #FAFAFA;
}

@media screen and (max-width: 840px) {
  /* line 596, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles__item {
    padding: 1.6rem 0.8rem;
  }
}

/* line 610, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories__tiles__item__link {
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 610, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles__item__link {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  /* line 610, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles__item__link {
    gap: 1rem;
  }
}

/* line 622, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories__tiles__item__link__image {
  display: block;
}

@media screen and (max-width: 840px) {
  /* line 622, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles__item__link__image {
    margin: auto;
  }
}

/* line 628, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.categories__tiles__item__link__text {
  margin: auto;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  /* line 628, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles__item__link__text {
    font-size: 1.4rem;
    line-height: 130%;
    padding-bottom: 1.6rem;
  }
}

@media screen and (max-width: 840px) {
  /* line 628, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .categories__tiles__item__link__text {
    font-size: 1.4rem;
    line-height: 130%;
    padding-bottom: 1.6rem;
  }
}

/* Main -- Categories end */
/* Main -- Hero start */
/* line 648, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.hero {
  padding-bottom: 6rem;
}

@media screen and (max-width: 840px) {
  /* line 648, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .hero {
    padding-bottom: 0;
  }
}

/* Main -- Hero end */
/* Main -- Brands start */
/* line 656, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.brands {
  position: relative;
  margin: 6rem auto;
  width: 100%;
  max-width: 138rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* line 665, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.brands::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* line 669, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.brands:hover .arrows--left,
.brands:hover .arrows--right {
  display: block;
}

@media screen and (max-width: 840px) {
  /* line 656, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .brands {
    margin: 4rem auto;
  }
}

/* line 676, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.brands__list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}

@media screen and (max-width: 840px) {
  /* line 676, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .brands__list {
    column-gap: 1rem;
  }
}

/* line 690, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.brands__list__item {
  margin: 0;
  height: 9rem;
  width: auto;
}

/* line 695, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.brands__list__item__image {
  height: 9rem;
  width: auto;
  max-width: unset;
}

/* Main -- Brands end */
/* Main -- Suggestions start */
/* line 702, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions {
  margin-bottom: 6rem;
}

/* line 705, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container {
  position: relative;
  margin: 6rem auto;
  width: 100%;
  max-width: 138rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* line 714, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* line 718, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container:hover .arrows--left,
.suggestions__container:hover .arrows--right {
  display: block;
}

@media screen and (max-width: 840px) {
  /* line 705, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container {
    margin: 4rem auto;
  }
}

/* line 725, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container .tns-item {
  display: flex !important;
}

/* line 728, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
}

/* line 737, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 840px) {
  /* line 728, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container__list {
    align-items: stretch;
  }
}

/* line 744, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-width: 25.2rem;
  background-color: #fff;
  background-clip: content-box;
  border-radius: 0.4rem;
}

@media screen and (max-width: 840px) {
  /* line 744, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container__list__item {
    min-width: 20rem;
    gap: 1rem;
  }
}

/* line 761, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__images {
  margin: 2.2rem 2.2rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 23rem;
  height: 23rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* line 772, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__images::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 840px) {
  /* line 761, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container__list__item__images {
    margin: 1rem 1rem 0;
    width: 18rem;
    height: 18rem;
  }
}

/* line 781, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__images__link {
  display: block;
  width: 23rem;
  height: 23rem;
}

@media screen and (max-width: 840px) {
  /* line 781, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container__list__item__images__link {
    width: 18rem;
    height: 18rem;
  }
}

/* line 790, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__images__link__image {
  max-width: unset;
  width: 23rem;
  height: 23rem;
}

@media screen and (max-width: 840px) {
  /* line 790, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container__list__item__images__link__image {
    width: 18rem;
    height: 18rem;
  }
}

/* line 799, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text {
  margin: 0 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  flex: 1 0 10rem;
  gap: 1rem;
}

/* line 808, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: 100%;
  transition: 0.2s linear;
}

/* line 815, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__title:hover {
  color: #FF197A;
}

/* line 818, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* line 823, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__info__prices {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

@media screen and (max-width: 840px) {
  /* line 823, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .suggestions__container__list__item__text__info__prices {
    align-items: flex-start;
    flex-direction: column;
  }
}

/* line 832, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__info__prices__price {
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 700;
  color: #0A0A0A;
}

/* line 838, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__info__prices__oldprice {
  font-size: 1.2rem;
  line-height: 130%;
  font-weight: 400;
  color: #8A8A8A;
  text-decoration: line-through;
}

/* line 845, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__text__info__label {
  padding: 0.3rem 0.8rem;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
  color: #8A8A8A;
  font-size: 1.2rem;
  line-height: 130%;
  font-weight: 400;
}

/* line 854, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  align-content: center;
  border-radius: 0.4rem;
  transition: 0.2s linear;
}

/* line 866, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_cart:hover {
  background-color: #FF197A;
}

/* line 869, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_cart:hover .suggestions__container__list__item__add_to_cart__text {
  color: #FAFAFA;
}

/* line 872, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_cart:hover .icon--add-to-cart-pink {
  background-image: url("../images/icons/cart-white.svg");
}

/* line 875, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_cart__text {
  color: #FF197A;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  transition: 0.2s linear;
}

/* line 882, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_cart__icon {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
}

/* line 890, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_favourites {
  position: absolute;
  display: block;
  top: 1.6rem;
  right: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 10;
  background-image: url("../images/icons/heart-grey.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s linear;
}

/* line 904, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_favourites:hover {
  background-image: url("../images/icons/heart-pink.svg");
}

/* line 907, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_favourites--added {
  position: absolute;
  display: block;
  top: 1.6rem;
  right: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 10;
  background-image: url("../images/icons/heart-pink-filled.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s linear;
}

/* line 921, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.suggestions__container__list__item__add_to_favourites--added:hover {
  background-image: url("../images/icons/heart-grey.svg");
}

/* Main -- Suggestions end */
/* Sets start */
/* line 926, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets {
  margin-bottom: 6rem;
}

@media screen and (max-width: 840px) {
  /* line 926, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .sets {
    margin-bottom: 2rem;
  }
}

/* line 932, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-radius: 0.4rem;
  text-transform: lowercase;
}

@media screen and (max-width: 840px) {
  /* line 932, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .sets__container {
    grid-template-columns: 1fr;
  }
}

/* line 942, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container__item {
  display: block;
  width: 100%;
  position: relative;
  background-color: #ECECEC;
  border-radius: 0.4rem;
  overflow: hidden;
}

/* line 950, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container__item:hover .sets__container__item__image {
  display: none;
}

/* line 953, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container__item:hover .sets__container__item__image--hover {
  display: block;
  width: 100%;
}

/* line 957, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container__item__title {
  position: absolute;
  display: block;
  padding: 3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  color: #FAFAFA;
}

@media screen and (max-width: 840px) {
  /* line 957, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .sets__container__item__title {
    padding: 2rem;
    font-size: 2.8rem;
  }
}

/* line 970, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container__item__image {
  display: block;
  width: 100%;
}

/* line 974, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.sets__container__item__image--hover {
  display: none;
}

/* Sets end */
/* UTP start */
/* line 979, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.utp {
  margin-bottom: 6rem;
}

@media screen and (max-width: 840px) {
  /* line 979, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .utp {
    margin-bottom: 4rem;
  }
}

/* line 985, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.utp__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 840px) {
  /* line 985, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .utp__container {
    grid-template-columns: 1fr;
  }
}

/* line 993, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.utp__container__tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

/* line 1002, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.utp__container__tile__image {
  display: block;
  width: 14.6rem;
  height: 14.6rem;
  align-self: center;
}

/* line 1008, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.utp__container__tile__heading {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}

/* line 1015, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.utp__container__tile__text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
}

/* UTP start */
/* Footer start */
/* line 1023, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer {
  background-color: #0A0A0A;
  padding: 4.8rem 0;
}

/* line 1027, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer__navigation {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  text-transform: uppercase;
}

@media screen and (max-width: 840px) {
  /* line 1027, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .footer__navigation {
    flex-direction: column;
    gap: 4rem;
  }
}

/* line 1038, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer__heading {
  display: block;
  margin-bottom: 2rem;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
}

/* line 1046, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0.7;
  text-transform: uppercase;
}

@media screen and (max-width: 840px) {
  /* line 1046, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .footer__menu {
    gap: 1.6rem;
  }
}

/* line 1057, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer__navigation__catalogue__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
}

@media screen and (max-width: 840px) {
  /* line 1057, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .footer__navigation__catalogue__menu {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}

/* line 1066, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer__menu__link {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
}

/* line 1071, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.footer__credentials {
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
}

@media screen and (max-width: 840px) {
  /* line 1071, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .footer__credentials {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }
}

/* Footer end */
/* Cart epmty start */
/* line 1086, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.empty_cart {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  padding: 6rem 1.5rem 10rem;
}

@media screen and (max-width: 1024px) {
  /* line 1086, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .empty_cart {
    padding: 2rem 1.5rem 4rem;
  }
}

@media screen and (max-width: 840px) {
  /* line 1086, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .empty_cart {
    padding: 4rem 1.5rem;
  }
}

/* line 1099, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.empty_cart__heading {
  font-size: 4rem;
  line-height: 110%;
}

@media screen and (max-width: 840px) {
  /* line 1099, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .empty_cart__heading {
    font-size: 4rem 1.5rem;
    font-size: 2.8rem;
    line-height: 130%;
  }
}

/* line 1108, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.empty_cart__image {
  width: 10.4rem;
  height: 11.6rem;
}

/* line 1112, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.empty_cart__button {
  padding: 1.2rem 4.55rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

@media screen and (max-width: 840px) {
  /* line 1112, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .empty_cart__button {
    width: 100%;
  }
}

/* Cart epmty end */
/* Text start */
/* line 1124, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text {
  padding: 2rem 1.5rem 6rem;
  font-size: 1.6rem;
  line-height: 130%;
}

/* line 1129, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text * {
  max-width: 70rem;
}

/* line 1132, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text h1 {
  font-size: 4rem;
  line-height: 110%;
  padding-bottom: 1.6rem;
}

/* line 1137, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text h2 {
  font-size: 2.8rem;
  line-height: 130%;
  padding-bottom: 1.4rem;
}

/* line 1142, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text h3 {
  font-size: 1.6rem;
  line-height: 130%;
  padding-bottom: 1.2rem;
}

/* line 1147, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text h4 {
  font-size: 1.4rem;
  line-height: 130%;
  padding-bottom: 1rem;
}

/* line 1152, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text h5 {
  font-size: 1.2rem;
  line-height: 100%;
  padding-bottom: .8rem;
}

/* line 1157, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text h6 {
  font-size: 1rem;
  line-height: 100%;
  padding-bottom: .6rem;
}

/* line 1162, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text p {
  padding-bottom: 1rem;
}

/* line 1165, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text a {
  color: #FF197A;
  text-decoration: underline;
  cursor: pointer;
}

/* line 1170, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text a:hover {
  text-decoration: none;
}

/* line 1173, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text ol, .text ul {
  padding: 0 0 2rem 3rem;
}

/* line 1176, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text ol li, .text ul li {
  padding-bottom: 0.5rem;
}

/* line 1180, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text ul li {
  list-style-type: disc;
}

/* line 1183, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text blockquote {
  padding: 1.5rem;
  background-color: #DBDBDB;
  color: #0A0A0A;
  border-radius: 0.4rem;
}

/* line 1189, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text summary {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

/* line 1199, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text summary::-webkit-details-marker {
  display: none;
}

/* line 1202, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text summary::-moz-list-bullet {
  list-style-type: none;
}

/* line 1205, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text summary::marker {
  display: none;
}

/* line 1208, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text summary:after {
  content: "+";
  display: inline-block;
  color: #FF197A;
  font-size: 2rem;
  font-weight: 400;
}

/* line 1215, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text summary:focus {
  outline: 0;
}

/* line 1218, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text details {
  display: block;
}

/* line 1221, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.text details[open] > summary:after {
  content: "–";
}

/* Text end */
/* Реквизиты start */
/* line 1227, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.account_details {
  padding: 2rem 1.5rem 6rem;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  font-size: 1.6rem;
  line-height: 130%;
}

/* line 1235, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.account_details h1 {
  padding-bottom: 1.6rem;
}

@media screen and (max-width: 840px) {
  /* line 1235, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .account_details h1 {
    padding-bottom: 4rem;
  }
}

/* line 1241, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.account_details h2 {
  padding-bottom: 1.2rem;
}

@media screen and (max-width: 840px) {
  /* line 1241, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .account_details h2 {
    padding-bottom: 2rem;
  }
}

/* line 1247, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.account_details .button {
  margin-top: 4rem;
  display: inline-block;
}

@media screen and (max-width: 840px) {
  /* line 1247, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .account_details .button {
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 130%;
    text-align: center;
  }
}

/* Реквизиты end */
/* Contacts&Pickup start */
/* line 1260, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts {
  padding-top: 2rem;
}

@media screen and (max-width: 1024px) {
  /* line 1260, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .contacts {
    padding-top: 1rem;
  }
}

/* line 1266, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts__conditions {
  margin: 4rem 0;
  padding: 1.4rem 2rem;
  max-width: 47rem;
  background-color: #F5F5F5;
  font-size: 1.4rem;
  line-height: 130%;
  color: #0A0A0A;
}

@media screen and (max-width: 1024px) {
  /* line 1266, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .contacts__conditions {
    margin: 2rem 0;
  }
}

/* line 1278, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts__conditions__text {
  display: block;
  font-weight: 400;
}

/* line 1282, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts__conditions__accent {
  display: block;
  font-weight: 700;
}

/* line 1286, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts__info {
  padding: 2rem 0 2rem;
  width: 100%;
  max-width: 100.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  row-gap: 1.2rem;
}

@media screen and (max-width: 1024px) {
  /* line 1286, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .contacts__info {
    display: block;
  }
}

/* line 1299, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts__info__item {
  font-size: 1.6rem;
  line-height: 130%;
  padding-left: 2.6rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
}

@media screen and (max-width: 1024px) {
  /* line 1299, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .contacts__info__item {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.4rem;
    padding-left: 2.2rem;
    background-size: 1.6rem 1.6rem;
  }
  /* line 1314, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .contacts__info__item:nth-child(even) {
    margin-bottom: 2rem;
  }
}

/* line 1317, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.contacts__info__map {
  width: 100%;
  height: 68.6rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  /* line 1317, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .contacts__info__map {
    height: 47.7rem;
  }
}

/* line 1326, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.route {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 1024px) {
  /* line 1326, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .route {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/* line 1334, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.route__details {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
  row-gap: 2.5rem;
}

@media screen and (max-width: 1024px) {
  /* line 1334, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .route__details {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 2rem;
  }
}

/* line 1350, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.route__details__map {
  position: relative;
  grid-row: span 3;
}

@media screen and (max-width: 1024px) {
  /* line 1350, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .route__details__map {
    grid-row: 1;
  }
}

/* line 1357, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.route__details__map__image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

@media screen and (max-width: 1024px) {
  /* line 1357, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .route__details__map__image {
    position: relative;
    height: unset;
    object-fit: unset;
  }
}

/* line 1370, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.route__details__step {
  margin-left: 1rem;
}

@media screen and (max-width: 1024px) {
  /* line 1370, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .route__details__step {
    margin-left: 0;
    display: grid;
    grid-template: auto auto / 2.2rem auto;
    column-gap: 1rem;
    align-items: center;
  }
}

/* line 1380, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.route__details__step__image {
  margin-top: 1rem;
  border-radius: 0.4rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 1380, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .route__details__step__image {
    grid-column: span 2;
  }
}

/* line 1388, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.delivery_teaser {
  margin-bottom: 4rem;
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 1388, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .delivery_teaser {
    flex-direction: column;
  }
}

/* line 1397, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.delivery_teaser__banner {
  padding: 11.25rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: -webkit-fill-available;
  background-image: url("../images/contacts/delivery_teaser_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  /* line 1397, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .delivery_teaser__banner {
    padding: 2rem;
    height: 31.4rem;
    gap: 2rem;
    font-size: 2.8rem;
    background-image: url("../images/contacts/delivery_teaser_bg_mobile.jpg");
  }
}

/* line 1416, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.delivery_teaser__banner__heading {
  max-width: 45rem;
  display: inline-block;
  font-weight: 700;
  color: #FAFAFA;
}

/* line 1422, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
.delivery_teaser__courier {
  max-width: 39.8rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  /* line 1422, ../../../../../Users/eugene/git_projects/retzm/sass/style.sass */
  .delivery_teaser__courier {
    max-width: 100%;
    height: 41rem;
    object-fit: cover;
  }
}

/* Contacts&Pickup end */

/*# sourceMappingURL=style.css.map */