html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "NT Somic", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #0A0A0A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "NT Somic", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #0A0A0A;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.header, .main, .footer {
  width: 100%;
}

.header__top {
  background-color: #202020;
  color: #F5F5F5;
}

.header__top__container,
.header__bottom__container,
.banner__container__item__content,
.categories__tiles,
.hero__container,
.brands__list,
.suggestions__container,
.sets,
.utp,
.footer__navigation,
.footer__credentials {
  max-width: 135rem;
  margin: 0 auto;
}

.header__top__container {
  display: flex;
  justify-content: space-between;
}

.header__top__container__menu, .header__top__container__getintouch {
  display: flex;
  gap: 4rem;
  padding: 0.8rem 0;
}

.header__top__container__menu__item__link,
.header__top__container__getintouch__item__city,
.header__top__container__getintouch__item__phone,
.header__top__container__getintouch__item__account,
.header__services__list__item__link {
  color: #F5F5F5;
}

.header__top__menu__item__link,
.header__top__getintouch__item__city,
.header__top__getintouch__item__phone,
.header__top__getintouch__item__account {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.header__top__container__getintouch__item__city {
  text-decoration: underline;
}
.header__top__container__getintouch__item__city:link, .header__top__container__getintouch__item__city:visited, .header__top__container__getintouch__item__city:hover {
  text-decoration: underline;
}

.header__top__container__getintouch__item__account {
  padding-left: 2.4rem;
  background-image: url("../images/icons/tzm-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
}

.header__bottom {
  background-color: #0A0A0A;
}

.header__bottom__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.8rem 0;
}

.header__bottom__container__column {
  display: flex;
  align-items: center;
}

.column__left {
  justify-content: left;
}

.column__center {
  justify-content: center;
}

.column__right {
  justify-content: right;
}

.header__bottom__container__column__button {
  padding: 1rem 1.8rem 1rem 3.9rem;
  color: #FAFAFA;
  background-color: #FF197A;
  background-image: url("../images/icons/nav.svg");
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.header__bottom__container__column__logo__image {
  width: 9.2rem;
  height: 4.6rem;
}

.header__services__list {
  display: flex;
  gap: 4rem;
}

.header__services__list__item__link {
  padding-left: 2.8rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
}

.services-search {
  background-image: url("../images/icons/search.svg");
}

.services-favourites {
  background-image: url("../images/icons/heart.svg");
}

.services-cart {
  background-image: url("../images/icons/cart.svg");
}

.banner {
  position: relative;
  height: 45rem;
  width: 100%;
}

.banner__container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transform: translate3d(0, 0, 0);
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.banner__container__item {
  display: block;
  height: 45rem;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position-x: 50% !important;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.banner__nav_buttons {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 135rem;
  height: 45rem;
}

.banner__nav_buttons-next {
  background-image: url("../images/icons/arrow-right.svg");
  right: var(--swiper-navigation-sides-offset, 1rem);
  left: auto;
}

.banner__nav_buttons-prev {
  background-image: url("../images/icons/arrow-left.svg");
  left: var(--swiper-navigation-sides-offset, 1rem);
  right: auto;
}

.banner__nav_buttons-next, .banner__nav_buttons-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 2rem;
  height: 2rem;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__container__item__content {
  width: 100%;
  text-align: center;
}

.banner__container__item__content__heading {
  margin-top: 6rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.8rem;
  margin-bottom: 1rem;
}

.banner__container__item__content__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 3rem;
}

.button {
  padding: 1rem 1.8rem;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.button--pink {
  background-color: #FF197A;
  color: #FAFAFA;
}

.banner__pagination {
  bottom: 2rem !important;
  top: auto !important;
  left: 0 !important;
  width: 100% !important;
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.banner__pagination__bullet {
  display: inline-block;
  margin: 0 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.04rem;
  background-color: #DBDBDB;
  cursor: pointer;
}

.banner__pagination__bullet--active {
  background-color: #FF197A;
}

.categories {
  padding: 6rem 0;
}

.categories__tiles {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.categories__tiles__item {
  width: 26.2rem;
  height: 34rem;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

.categories__tiles__item__link {
  padding: 2rem;
  display: grid;
  grid: 20.5rem 6.8rem/1fr;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.categories__tiles__item__link__image {
  display: block;
  padding: 0.8rem;
}

.categories__tiles__item__link__text {
  margin: auto;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}

.hero {
  padding-bottom: 6rem;
}

.brands {
  margin: 0 auto;
  padding: 6rem 0;
  width: 100%;
  max-width: 135rem;
}

.brands__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
}

.brands__list__item {
  margin: 0;
  height: 9rem;
  width: auto;
}

.suggestions {
  margin-bottom: 6rem;
}

.suggestions__container__heading {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.suggestions__container__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.sets {
  margin-bottom: 6rem;
}

.sets__heading {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.sets__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-radius: 0.4rem;
}

.sets__container__item {
  display: block;
  position: relative;
  background-color: #ECECEC;
  border-radius: 0.4rem;
}

.sets__container__item__title {
  position: absolute;
  display: block;
  padding: 3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  color: #FAFAFA;
}

.sets__container__item__image {
  display: block;
}

.utp {
  margin-bottom: 6rem;
}

.utp__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.utp__container__tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

.utp__container__tile__image {
  display: block;
  width: 14.6rem;
  height: 14.6rem;
  align-self: center;
}

.utp__container__tile__heading {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.utp__container__tile__text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.footer {
  background-color: #0A0A0A;
  padding: 4.8rem;
}

.footer__navigation {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  text-transform: uppercase;
}

.footer__navigation__heading {
  display: block;
  margin-bottom: 2rem;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
}

.footer__navigation__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0.5;
  text-transform: uppercase;
}

.footer__navigation__catalogue__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
}

.footer__navigation__menu__link {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.footer__credentials {
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  opacity: 0.5;
  text-transform: uppercase;
}

.flex-left {
  align-self: left;
}

.flex-center {
  align-self: center;
}

.flex-right {
  align-self: right;
}

/*# sourceMappingURL=style.css.map */
